@import "node_modules/react-alice-carousel/lib/alice-carousel.css";

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: gray;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.container{
    padding: 45px;
    background-color: rgba(0,0,0,.2);
}

section.main {
    text-align: center;
}

section.main .location{
    font-size: 32px;
    margin: 10px;
}

section.main .temperature-block{
    line-height: 0.8;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section.main .temperature-block .icon{
    padding: 0 15px;
    align-self: center;
}

section.main .temperature-block .value .digit{
    font-size: 100px;
}

section.main .temperature-block .value .grad{
    margin-left: -5px;
    font-size: 65px;
    vertical-align: top;
}

section.main .temperature-block .units{
    padding: 0 10px;
}

section.main .temperature-block .units .active{
    font-size: 35px;
}

section.main .temperature-block .units .unit{
    font-size: 20px;
    margin: 10px 0;
}

section.main .description-block {
    font-size: 28px;
    margin: 10px;
}

section.main .description-block .last-update {
    margin: 10px;
    font-size: 12px;
    font-weight: bold;
}

section.main .details-block {
    font-size: 12px;
}

section.main .details-row {
    padding: 5px 0;
}

section.main .details-item {
    padding: 0 10px;
}

.title {
    font-size: 28px;
    padding: 15px 0;
}

.list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item {
    cursor: default;
}

section.days {
    padding: 15px 0;
}

section.days .item {
    padding: 10px;
    margin-bottom: 17px;
    border: transparent solid 2px;
}

section.days .item:hover {
    border-color: white;
}

section.days .item.selected {
    background-color: rgba(255,255,255,.2);
    position: relative;
    border: none;
}

section.days .item.selected::after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: calc(50% - 20px);
    top: auto;
    bottom: -40px;
    border: 20px solid;
    border-color: rgba(255,255,255,.2) transparent transparent transparent;
}

section.days .day {
    font-size: 16px;
}

section.days .temperature .max {
    font-size: 24px;
}

section.days .temperature .min {
    font-size: 14px;
}

.description {
    font-size: 12px;
    padding: 10px 0;
}

section.hours .item {
    border-top: 1px white solid;
}

section.hours .item .content {
    padding: 0 10px;
    border-bottom: 1px white solid;
}

section.hours .temperature {
    font-size: 24px;
}

section.hours .item .time {
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}

section.details .details-blocks .item{
    border-top: 1px white solid;
    margin-right: 15px;
}

section.details .details-blocks .item .title{
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
}

section.details .details-blocks .item .text{
    font-size: 16px;
}

section.details .details-blocks .item .value {
    display: table;
}

section.details .details-blocks .item .value span {
    display: table-cell;
    vertical-align: middle;
}

section.details .details-blocks .item img.icon{
    width: 50px;
}

section.details .details-blocks .item .value .time {
    font-size: 25px;
}

.alice-carousel__prev-btn, .alice-carousel__next-btn {
    position: absolute;
    top: 40%;
    width: auto;
    font-size: 25px;
}

.alice-carousel__prev-btn {
    left: -40px;
}

.alice-carousel__next-btn {
    right: -40px;
}

.alice-carousel__prev-btn-item, .alice-carousel__next-btn-item {
    color: white;
    border: 1px solid transparent;
    border-radius: 50%;
    line-height: .9;
    height: 20px;
    width: 20px;
    text-align: center;
}

.alice-carousel__prev-btn-item:hover, .alice-carousel__next-btn-item:hover {
    color: inherit;
    border-color: white;
}